# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [13]:
import pandas as pd
import numpy as np

# Seu código aqui
data = [-0.08,-0.27,0.12,-0.3,0.26,0.40,1.02]
anomalia = pd.Series(data)
anomalia

0   -0.08
1   -0.27
2    0.12
3   -0.30
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [12]:

# seu código aqui
anos= [1900,1920,1940,1960,1980,2000,2020]
anomalia = pd.Series(data=data, index = anos)
anomalia

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.30
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [14]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temp = pd.Series(dic_temperaturas)
temp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe.
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [20]:
arr = np.random.normal(100, 10, (20,3),)

# seu código aqui
df = pd.DataFrame(data=arr)
df

             0           1           2
0   103.612341  119.400623   96.288432
1    92.000513  105.907602   92.617940
2    98.526418   95.473705   99.535523
3   106.196874   90.211053   91.930913
4   106.908248   93.281846   84.714495
5   111.810386  119.529369   97.083641
6   111.351187  108.685335  105.256787
7    98.218056  119.604174   92.375233
8   105.750534   99.369626  101.514358
9   105.212117   88.571516   93.946957
10  103.649441   95.933597  103.241620
11  107.330541  104.030315   89.026573
12  117.814049   91.318581  112.327131
13   92.769383  101.800268   89.403246
14  101.611423  105.459886  111.288070
15  120.973482   81.987857  105.386190
16   89.430468  104.032527  113.433215
17   83.081539   84.040444  105.945978
18  107.452006  102.129312  100.730462
19  100.647352   89.738169   99.078638

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [27]:
#seu código aqui

df.columns = ('x1','x2','x3')
df.index = list(range(1,21))
df

            x1          x2          x3
1   103.612341  119.400623   96.288432
2    92.000513  105.907602   92.617940
3    98.526418   95.473705   99.535523
4   106.196874   90.211053   91.930913
5   106.908248   93.281846   84.714495
6   111.810386  119.529369   97.083641
7   111.351187  108.685335  105.256787
8    98.218056  119.604174   92.375233
9   105.750534   99.369626  101.514358
10  105.212117   88.571516   93.946957
11  103.649441   95.933597  103.241620
12  107.330541  104.030315   89.026573
13  117.814049   91.318581  112.327131
14   92.769383  101.800268   89.403246
15  101.611423  105.459886  111.288070
16  120.973482   81.987857  105.386190
17   89.430468  104.032527  113.433215
18   83.081539   84.040444  105.945978
19  107.452006  102.129312  100.730462
20  100.647352   89.738169   99.078638

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [38]:
# seu código aqui
df['media'] = (df['x1'] + df['x2'] + df['x3'])/ (len(df.columns)-1) # esse len das colunas é pra ver a quantidade de colunas q tem para poder dividir. Já esse -1 é para remover -1 coluna da conta já q essa coluna média entraria na conta

In [39]:
df

            x1          x2          x3       media
1   103.612341  119.400623   96.288432  106.433799
2    92.000513  105.907602   92.617940   96.842018
3    98.526418   95.473705   99.535523   97.845215
4   106.196874   90.211053   91.930913   96.112947
5   106.908248   93.281846   84.714495   94.968197
6   111.810386  119.529369   97.083641  109.474466
7   111.351187  108.685335  105.256787  108.431103
8    98.218056  119.604174   92.375233  103.399154
9   105.750534   99.369626  101.514358  102.211506
10  105.212117   88.571516   93.946957   95.910197
11  103.649441   95.933597  103.241620  100.941553
12  107.330541  104.030315   89.026573  100.129143
13  117.814049   91.318581  112.327131  107.153254
14   92.769383  101.800268   89.403246   94.657632
15  101.611423  105.459886  111.288070  106.119793
16  120.973482   81.987857  105.386190  102.782510
17   89.430468  104.032527  113.433215  102.298736
18   83.081539   84.040444  105.945978   91.022654
19  107.452006  102.129312  100.730462  103.437260
20  100.647352   89.738169   99.078638   96.488053

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [41]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1   103.612341  119.400623   96.288432  106.433799  4.667523
2    92.000513  105.907602   92.617940   96.842018  4.573081
3    98.526418   95.473705   99.535523   97.845215  4.583387
4   106.196874   90.211053   91.930913   96.112947  4.565524
5   106.908248   93.281846   84.714495   94.968197  4.553542
6   111.810386  119.529369   97.083641  109.474466  4.695691
7   111.351187  108.685335  105.256787  108.431103  4.686115
8    98.218056  119.604174   92.375233  103.399154  4.638597
9   105.750534   99.369626  101.514358  102.211506  4.627044
10  105.212117   88.571516   93.946957   95.910197  4.563412
11  103.649441   95.933597  103.241620  100.941553  4.614542
12  107.330541  104.030315   89.026573  100.129143  4.606461
13  117.814049   91.318581  112.327131  107.153254  4.674260
14   92.769383  101.800268   89.403246   94.657632  4.550267
15  101.611423  105.459886  111.288070  106.119793  4.664569
16  120.973482   81.987857  105.386190  102.782510  4.632615
17   89.430468  104.032527  113.433215  102.298736  4.627897
18   83.081539   84.040444  105.945978   91.022654  4.511108
19  107.452006  102.129312  100.730462  103.437260  4.638965
20  100.647352   89.738169   99.078638   96.488053  4.569419